.login-form .facebook-link:hover {
    color: #fff !important;
    background: #4267b2;
}
.login-form .google-link:hover {
    color: #fff !important;
    background: #c15063;
}
@media (max-width: 768px) {
    .contact-form h4 {
        font-size: 30px;
    }
    .contact-form input,
    .contact-form textarea {
        font-size: 14px;
    }
    .contactus .detail div {
        font-size: 14px;
    }
}
@media (max-width: 400px) {
    .contact-form a,
    .contact-form h4 {
        text-align: center;
    }
}

.register-image {
    @media screen and (max-width: 575px) {
        margin-top: 50px;
    }
}

/* login */
.login-form {
    margin-top: 65px;
    margin-bottom: 100px;
    a {
        text-decoration: none;
    }
}
.login-form h4,
.register-form h4 {
    font-size: 46px;
    font-weight: 600;
    margin-bottom: 34px;
}
.login-form label,
.register-form .input-container label {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 16px;
}
.register-form .input-container input,
.login-form input {
    font-size: 18px;
    font-weight: 400;
    padding: 10px 26px;
    display: inline-block;
    margin-bottom: 30px;
    width: 90%;
    border: 1px solid rgba(#000, 0.2);
    height: 58px;
    border-radius: 3px;
    color: #79777c;

    &::placeholder {
        color: rgba(#000, 0.3);
        opacity: 1;
    }
}
.login-form a,
.login-form p,
.register-form .register {
    display: block;
    margin-bottom: 11px;
    text-align: center;
    font-size: 18px;
    width: 90%;
}

.register-form .register {
    max-width: 410px;
}

.login-form .facebook-link {
    background: #4267b2;
    border: 1px solid #4267b2;

    .fa {
        font-size: 24px;
    }
}
.login-form .facebook-link:hover {
    background: darken(#4267b2, 10%);
}
.login-form .google-link {
    background: #c15063;
    border: 1px solid #c15063;
}
.login-form .google-link:hover {
    background: darken(#c15063, 10%);
}
.login-form .register {
    background: #fff;
    color: #6eba45;
    border: 1px solid #6eba45;
    transition: all 0.4s ease-in-out;
}
.login-form .register:hover {
    background: #6eba45;
    color: #fff;
}
@media (max-width: 767px) {
    .login-form h4,
    .register-form h4 {
        font-size: 24px;
    }
    .login-form input,
    .register-form .input-container input {
        font-size: 16px;
        margin-bottom: 30px;
    }
    .register-form .input-container label,
    .login-form label {
        font-size: 16px;
    }
    .login-form a,
    .login-form p {
        font-size: 16px;
        width: 100%;
    }
}
.header-right a {
    color: #6eba45;
    background: #fff;
    border: none;
}
.header-right #dropdownMenuLink {
    // border: 1px solid #6EBA45
}

/* start register */
.register-form {
    margin-top: 33px;
    margin-bottom: 150px;
    .error {
        color: red;
    }
    .inputerror {
        margin-bottom: 10px !important;
        border: 1px solid red !important;
    }
}
.input-container-sex label {
    /* width: 100%; */
}
.input-container-sex .form-check-input {
    width: 15px !important;
}
.input-container-sex .form-check {
    display: inline-block;
    margin-right: 23px;
}
.input-container-sex .form-check .form-check-input::before {
    background-color: #6eba45;
}
.input-container-date label {
    width: 100% !important;
}
.input-container-date select {
    width: 100%;
    background: #fff;
    border: 1px solid rgba(#000, 0.2);
    border-radius: 3px;
    color: #999;
    padding: 14px 31px 14px 20px;
    height: 60px;
    appearance: none;
    cursor: pointer;
    outline: none !important;
}

.register-form .input-container {
    max-width: 410px;

    input {
        width: 100%;
    }
}

.input-container-date .date-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 13px;

    .select-wrapper {
        position: relative;
        margin-bottom: 30px;

        &:after {
            content: "";
            display: block;
            width: 16px;
            height: 8px;
            background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 8'%3E%3Cpath d='M.47.64a.86.86 0 01.98-.06l.08.06L8 6.04l6.47-5.4a.86.86 0 01.98-.06l.08.06c.27.22.3.57.07.81l-.07.07-7 5.84a.86.86 0 01-.98.06l-.08-.06-7-5.84a.55.55 0 010-.88z' fill='%23000'/%3E%3C/svg%3E")
                no-repeat center center / contain;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 16px;
        }
    }
}
