$t: 0.3s;
$r: 0;
$primary: #6eba45;

.forgot-password-section {
    padding: 67px 0 250px;

    .section-inner {
        display: grid;
        grid-template-columns: 505fr 687fr;
        grid-gap: 90px;
    }

    .section-form {
        h4 {
            color: #111;
            font-weight: 600;
            margin-bottom: 34px;
        }

        .login-form {
            margin-bottom: 25px;
            margin-top: 0;

            .button {
                margin-bottom: 0;
                width: 100%;
            }
        }

        .forgot-password-form {
            max-width: 410px;

            .input-container {
                label {
                    font-weight: 500;
                    color: #111;
                }

                input {
                    width: 100%;
                    margin-bottom: 40px;

                    @media screen and (max-width: 575px) {
                        margin-bottom: 27px;
                    }
                }
            }
        }

        .form-note {
            text-align: center;
            font-size: 18px;
            color: #000;
            margin-bottom: 0;
            max-width: 410px;
            font-weight: 600;

            a {
                color: $primary;
                text-decoration: none;

                &:hover,
                &:focus {
                    text-decoration: underline;
                }
            }
        }
    }

    .section-image {
        img {
            width: calc(100% + 70px);
            margin-right: -70px;
            height: auto;
            display: block;
        }
    }

    @media screen and (max-width: 1199px) {
        padding: 37px 0 120px;

        .section-inner {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 25px;
        }

        .section-form {
            h4 {
                font-size: 26px;
            }
        }

        .section-image {
            padding-top: 155px;

            img {
                width: calc(100% + 59px);
                margin-right: -59px;
            }
        }
    }

    @media screen and (max-width: 767px) {
        padding: 31px 0 97px;

        .section-inner {
            grid-template-columns: 1fr;
        }

        .section-form {
            h4 {
                font-size: 24px;
                margin-bottom: 29px;
            }

            .form-note {
                font-size: 16px;
            }
        }

        .section-image {
            padding-top: 61px;

            img {
                width: calc(100% + 15px * 2 + 14px);
                margin-left: -15px;
                margin-right: -29px;
            }
        }
    }
}
